{% extends "baseAdmin.html.twig" %}
{% block section %}
{% block body %}
{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<p class="fs-4 text-info">Authentification</p>
<form action="{{ path('app_login') }}" method="post">
    <label for="username">Email:</label>
    <input class="form-control mb-3" type="text" id="username" name="_username" value="{{ last_username }}">

    <label for="password">Password:</label>
    <input class="form-control" type="password" id="password" name="_password">

    {# If you want to control the URL the user is redirected to on success
    <input type="hidden" name="_target_path" value="/panier/index"> #}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-outline-success mt-3" type="submit">login</button>
</form>
{% endblock %}
{% endblock %}